<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127800814260-3jmn90tdolss9edgfg2lgvglqgavrmk0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127800814260-3jmn90tdolss9edgfg2lgvglqgavrmk0</string>
	<key>API_KEY</key>
	<string>AIzaSyBlg6s6F5HMzpbDbBK6-yL43VGXxirfWtI</string>
	<key>GCM_SENDER_ID</key>
	<string>127800814260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ahmetcantopcu.InstaClone-Firebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-9747e</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-9747e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127800814260:ios:78dae04bf3f8903a47c5e1</string>
</dict>
</plist>